body{
  background-image: url("background.jpg");
  }

.contenitore{
  background-color: rgba(0,0,0,0.3);
  width: 2000px;
  height: 2400px;
  padding: 300px;
  margin-left: auto;
  margin-right:auto;
  margin-top:200px;
  margin-bottom: 200px;
  border-radius: 35px;
}

header{
  text-align: center;
  }

#logo{
  width: 600px;
}

header>h1{
  color:rgb(0,217,0);
  font-size: 70px;
  text-align: center;
}



.nav{
  display: block;
  margin:15px;
  padding:20px;
  width: 2000px;
  background-color: rgb(0,217,0);
  text-align: center;
  }

.nav>button{
  font-size: 28px;
  padding:10px;
  }

.Gino22{
  margin-top: 50px;
  display:block;
  color:white;
  font-size: 55px;
}

.Mike24{
  margin-top: 50px;
  display:block;
  color:white;
  font-size: 55px;
}

.Fede154{
  font-family:serif;
  display:block;
  margin-top: 50px;
  color:white;
  font-size: 35px;
}

#check{
  width: 5px;
  height: 15px;
}

.dati-utente{
  font-size: 60px;
}

.id-utente{
  font-size: 30px;
}

.stato{
  font-size: 30px;
}

.distanza{
  font-size: 30px;
}

section>h4{
  margin:0;
}

.caricagino{
  background-color: orange;
  width: 400px;
  height: 50px;
  border-radius: 5px;
}

.caricamike{
  background-color: green;
  width: 900px;
  height: 50px;
  border-radius: 5px;
}

.caricafede{
  background-color: crimson;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}
